[submodule "config/alacritty/catppuccin"]
	path = config/alacritty/catppuccin
	url = git@github.com:catppuccin/alacritty.git
[submodule "config/i3/catppuccin"]
	path = config/i3/catppuccin
	url = git@github.com:catppuccin/i3.git
[submodule "config/polybar/catppuccin"]
	path = config/polybar/catppuccin
	url = git@github.com:catppuccin/polybar.git
[submodule "config/rofi/catppuccin"]
	path = config/rofi/catppuccin
	url = git@github.com:catppuccin/rofi.git
[submodule "config/zathura/catppuccin"]
	path = config/zathura/catppuccin
	url = git@github.com:catppuccin/zathura.git
